#BACKEND
express@4.18.2           # Web server framework
cors@2.8.5               # Enable cross-origin requests
socket.io@4.7.2          # Real-time communication
lowdb@6.0.1              # Lightweight JSON database
nanoid@4.0.2             # Unique ID generator

#FRONTEND
react@18.2.0             # UI library
react-dom@18.2.0         # React DOM rendering
vite@4.5.9               # Fast development server / build tool
axios@1.5.0              # HTTP requests to backend
tailwindcss@3.3.3        # Styling framework
postcss@8.4.26           # Tailwind dependency
autoprefixer@10.4.14     # Tailwind dependency
socket.io-client@4.7.2   # Connect frontend to backend WebSocket

#Dev Tools
npm@10.3.0               # Node package manager
node@20.19.5             # Node.js runtime